body{
    font-family: 'Roboto Condensed', sans-serif;
    color: #05386B;
    font-size: 24px;
    background-color: #5CDB95;
    margin: auto;
    width: 50%;
    padding: 20px 0 20px 0;
}
p{
    font-size: 36px;
    color: #05386B;
}

table{
    text-align: center;
    border: #05386B solid 5px;
    border-radius: 6px;
}
th, td{
    border: #05386B solid 1px;
}
textarea{
    background-color: #EDF5E1;
    border: #05386B solid 2px;
    border-radius: 6px;
    cursor: text;
    font-family: 'Roboto Condensed', sans-serif;
}
input[type=text], select{
    width: 200px;
    height: 30px;
    background-color: #EDF5E1;
    border: #05386B solid 2px;
    border-radius: 6px;
    margin: 5px;
    font-family: 'Roboto Condensed', sans-serif;
}

button{
    width: 130px;
    height: 50px;
    background-color: #EDF5E1;
    border: #05386B solid 2px;
    border-radius: 6px;
    margin: 15px;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px
}